html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    /* #121212 */
}

body > *, input{
    font-family: arial, sans-serif;
}

header ul{
    list-style: none;
    float: right;
    border: 2px solid black;
    padding: 0;
    margin-bottom: 0;
}

header ul li{
    display: inline;
    margin-right: 1.1em;
    font-size: small;
}

header ul li:nth-child(even){
    margin-right: 3em;
}

header ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid red;
    width: 100%;
}

.content img{
    width: 100%;
    max-width: 270px;
    height: auto;
    border: 2px solid black;
}

.search-container input{
    appearance: none;
}

.search-bar{
    margin-top: 1.5em;
    width: 100%;
    max-width: 580px;
    border: 2px solid black;
}

.search-buttons{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.search-buttons input{
    margin: 0.9em 4px;
    padding: 0 1em;
    height: 36px;
    min-width: 54px;
    background-color: #f8f9fa;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    color: #3c4043;
    font-size: 14px;
    line-height: 27px;
}

footer{
    background-color: rgb(242, 242, 242);
}

footer #country, footer .wrapper{
    padding: 1em 0;
    margin: 0;
}

footer #country{
    border-bottom: 1px solid #dadce0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

footer .wrapper div a{
    padding: 0 0.9em;
    font-size: 14px;
    text-decoration: none;
}

footer #country, footer .wrapper div a{
    color: rgb(112, 117, 122);
}